* {
    margin: 0;
    padding: 0;
}

/*------------------------------------navabr-section----------------------------------*/
.navbar {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.nav-link:hover {
    color: rgba(250, 174, 33, 0.788) !important;

}

.nav-link a {
    font-size: 14px;
    font-weight: 700
}

.dropdown-item:hover {
    color: rgba(250, 174, 33, 0.788) !important;

}

.dropdown-item {
    color: black !important;
    background-color: white !important;
    font-weight: 500 !important;
}

.navbar {
    height: auto;

}

.navbar-brand img {
    height: 80px;
    width: fit-content;
}

/*-------------------------------------navbar end-------------------------------------*/

/*------------------------------footer start-----------------------------------------*/
footer {
    font-family: 'Poppins', sans-serif;
}

footer img {
    height: 100px;
    width: fit-content;
}

.list-unstyled a:hover {
    color: rgba(250, 174, 33, 0.788) !important;

}
/*--------------------------------footer end------------------------------------------*/

/*---------------------------------scroll up start------------------------------------*/
#scrollUp {
    bottom: 20px;
    right: 20px;
    background-image: url('../assets/top.png');
    width: 38px;
    height: 38px;
}

/*----------------------------scroll up end-------------------------------------------*/


.product_details{
  font-family: 'Playfair Display', serif;
}
.product_details h4:hover{
  color: rgba(250, 174, 33, 0.788) !important;

}  
.product_details h2:hover{
  color: rgba(250, 174, 33, 0.788) !important;
}
#details{
  font-size: 20px;
  font-weight: 400;
}
label{
  font-family: 'Playfair Display', serif;

}
button{
  font-family: 'Playfair Display', serif !important;
}
h1{
  font-family: 'Playfair Display', serif; 

}

h1:hover{
  color: rgba(250, 174, 33, 0.788) !important;
}
/*----------------------------banner-section------------------------------------------*/
.img-background {
  background: url(../assets/otherimages/individual.jpg) center/cover no-repeat;
  height: 400px;
  width: 100%;
}
/*--------------------------------------banner-section-end----------------------------*/
button{
  font-family: 'Playfair Display', serif!important;
  font-size: 18px!important;
  font-weight: 500!important;
  color: black!important;

}
/*----------------------------------scroll-bar---------------------------------------*/
body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #faae21;
  --sb-size: 12px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
  }
  /*---------------------------------scroll-bar-end-----------------------------------*/